section.errorPage {
    /* position */
    position: relative;

    /* sizing */
    width: 100%;
    height: 100vh;
    overflow: hidden;

    /* flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    /* variables */
    --border-radius: 10px;
    --gap: 10px;

    /* color variables */
    --foreground-color: var(--foreground-color-200);
    --background-alt-color: var(--background-color-300);
    --background-color: var(--background-color-200);
}

section.errorPage * {
    transition: background-color ease-in-out 0.5s, color ease-in-out 0.5s;
}

section.errorPage .container {
    /* position */
    position: relative;

    /* sizing */
    height: fit-content;
    width: min(500px, calc(100% - max(8vw, 20px)));
    margin: 0 auto;
    padding: 40px 10px;

    /* flex */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: var(--gap);

    /* styling */
    /* background-color: var(--background-color); */
    border-radius: var(--border-radius);
    backdrop-filter: brightness(.8) blur(15px) opacity(1);
}

section.errorPage .container h2 {
    /* spacing */
    margin: 0;
    padding-bottom: 10px;

    /* text */
    font-size: 25px;
    font-weight: 800;
    line-height: 1;

    /* styling */
    color: var(--foreground-color);
}

section.errorPage .container .code {
    /* position */
    position: absolute;
    inset: 10px;
    right: auto;
    bottom: auto;

    /* text */
    font-size: 22px;
    font-weight: 700;
    line-height: 1;

}

section.errorPage .container .actions {
    /* sizing */
    width: min(400px, 100%);

    /* flex */
    display: flex;
    justify-content: stretch;
    align-items: center;
    gap: var(--gap);
}

section.errorPage .container a {
    /* sizing */
    padding: 0 15px;
    width: min(400px, 100%);
    height: 40px;

    /* flex */
    display: flex;
    justify-content: center;
    align-items: center;

    /* text */
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;

    /* styling */
    background: transparent;
    border: 2px solid transparent;
    border-radius: var(--border-radius);
    color: var(--primary-text-color);
    backdrop-filter: brightness(.6) blur(15px) opacity(1);
}

section.errorPage .container a:hover,
section.errorPage .container a:focus,
section.errorPage .container a:focus-visible {
    background: var(--form-color-selector);
}

section.errorPage .container a:active {
    background: transparent;
    color: var(--form-color-selector);
    border-color: currentColor;
}

/** background **/
section.errorPage .background {
    /* position */
    position: absolute;
    inset: 0;
    z-index: -1;
    overflow: hidden;

    /* sizing */
    width: 100%;
    height: 100%;
}

section.errorPage .background .bigCode {
    /* position */
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    /* text */
    font-size: 75vmin;
    font-weight: 700;
    opacity: 0.5;
}

section.errorPage .background .item {
    /* position */
    position: absolute;
    left: -35vw;
    bottom: -75vw;

    /* sizing */
    width: 100vmax;
    height: 100vmax;

    /* styling */
    border-radius: 10vmin;
    border: 3vmin solid currentColor;
    color: var(--form-color-invalid-hold);
    border-right: none;
    border-bottom: none;

    /* transform */
    rotate: 45deg;
}

section.errorPage .background .item.i2 {
    /* position */
    left: -10vw;
    bottom: -85vw;

    /* styling */
    color: var(--form-color-valid-hold);
}

section.errorPage .background .item.i3 {
    /* position */
    left: -45vw;
    bottom: -95vw;

    /* styling */
    color: var(--form-color-selector);
}

section.errorPage .background .item.i4 {
    /* position */
    left: 0vw;
    bottom: -65vw;

    /* styling */
    color: var(--form-color-invalid);
}