header {
    /* position */
    position: fixed;
    inset: 0;
    bottom: auto;
    z-index: 998;

    /* variables */
    --padding: 10px;
    --gap: 10px;

    /* color variables */
    --foreground-color: var(--foreground-color-200);
    --background-color: var(--background-color-200);
    --selector-color: var(--selector-color);
}

header .container {
    /* sizing */
    height: 52px;
    padding: calc(var(--padding) * 1) min(calc(var(--padding) * 4), max(4vw, var(--padding)));

    /* flex */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    /* transition*/
    transition: var(--quick-transition-color), var(--quick-transition-background_color);
}

.scrolled header .container {
    /* styling */
    background-color: var(--background-color);
}

header .container .logo-xcwalker {
    /* sizing */
    height: 32px;
}

header .container .nav {
    /* sizing */
    height: 32px;

    /* flex */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: calc(var(--gap) * 2);
}

header .container .nav nav {
    /* sizing */
    height: 100%;

    /* flex */
    display: flex;
    justify-content: center;
    align-items: center;
}

header .container .nav nav ul {
    /* spacing */
    margin: 0;
    padding: 0;

    /* flex */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: calc(var(--gap) * 2);
}

header a {
    /* styling */
    color: var(--foreground-color-200);
    text-decoration: none;
    font-weight: 600;
    border-radius: 2px;
}

header a:hover {
    /* text */
    text-decoration: underline;
}

header a.logo:hover {
    /* text */
    text-decoration: none;
}

header a:focus,
header a:focus-visible {
    /* text */
    text-decoration: underline;
    outline: 2px solid var(--form-color-selector);
    outline-offset: 5px;
}

header a.logo:focus,
header a.logo:focus-visible {
    /* text */
    outline: 2px solid var(--form-color-selector);
    outline-offset: 5px;
}

header a:active {
    /* text */
    outline: none !important;
    color: var(--form-color-selector) !important;
}

header a.alt {
    /* sizing */
    height: 32px;
    padding: 0 25px;

    /* flex */
    display: flex;
    justify-content: center;
    align-items: center;

    /* styling */
    border-radius: 10px;
    background-color: var(--form-color-selector);
}

header a.alt:active {
    /* text */
    outline: none !important;
    color: var(--form-color-selector) !important;
    background-color: var(--foreground-color-200);
}

/*** avatar ***/
header a.avatar {
    /* sizing */
    --size: 32px;
    width: var(--size);
    height: var(--size);

    /* flex */
    display: flex;
    justify-content: center;
    align-items: center;

    /* styling */
    border: none;
    border-radius: 50%;
    background-color: var(--foreground-color);

    /* transition */
    transition: var(--quick-transition-background_color);
}

header a.avatar:hover,
header a.avatar:focus,
header a.avatar:focus-visible {
    background-color: var(--foreground-color);
}

header a.avatar:active {
    background-color: var(--form-color-selector);
}

header a.avatar .avatar {
    /* sizing */
    --size: 32px;
    width: var(--size);
    height: var(--size);

    /* styling */
    border-radius: 50%;

    /* transition */
    transition: var(--quick-transition-scale);

}

header a.avatar:hover .avatar,
header a.avatar:focus .avatar,
header a.avatar:focus-visible .avatar {
    scale: 0.8;
}