menu {
    /* position */
    position: fixed;
    inset: 0;
    left: auto;
    z-index: 998;

    /* sizing */
    height: 100%;
    width: 15px;

    /* spacing */
    padding: 0;
    margin: 0;

    /* variables */
    --padding: 10px;
    --gap: 10px;
    --foreground-color: var(--foreground-color-200);
    --foreground-alt-color: var(--foreground-color-100);
    --background-color: var(--background-color-200);
    --background-alt-color: var(--background-color-100);
    --selector-color: var(--form-color-selector);
}

menu .container {
    /* position */
    position: absolute;
    inset: 0;
    left: auto;
    /* sizing */
    height: 100%;
    width: 52px;
    padding: 10px;

    /* flex */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    /* styling */
    background-color: var(--background-color);

    /* scroll */
    scrollbar-width: none;
    overflow-y: auto;
    overflow-x: visible;

    /* transition */
    transition: var(--quick-transition-color), var(--quick-transition-background_color), var(--quick-transition-translate);
}

.scrolled menu .container {
    /* translate */
    translate: 100% 0;
}

.navHidden menu .container {
    /* translate */
    translate: 100% 0 !important;
}

.scrolled.scrolledUp menu .container,
menu:hover .container,
menu .container:hover {
    /* translate */
    translate: 0 0;
}

menu .container ul {
    /* spacing */
    margin: 0;
    padding: 0;

    /* flex */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
}

menu .container ul .separator {
    /* sizing */
    width: calc(100% + 5px);
    height: 2px;

    /* styling */
    background-color: var(--foreground-color-300);
}

menu .container ul.upper {
    /* flex */
    justify-content: flex-start;
}

menu .container ul a.link {
    /* position */
    position: relative;

    /* text */
    font-size: 32px;
    text-decoration: none;

    /* styling */
    border-radius: 4px;
    color: var(--foreground-color);
    outline: 2px solid transparent;

    transition: var(--quick-transition-scale), var(--quick-transition-color), var(--quick-transition-rotate);
}

menu .container ul a.link:hover {
    /* styling */
    color: var(--foreground-alt-color);
    scale: 1.1;
}

menu .container ul a.link:focus {
    /* styling */
    color: var(--foreground-alt-color);
    outline-color: currentColor;
    outline-offset: 4px;
}

menu .container ul a.link:active {
    color: var(--selector-color);
    outline: 2px solid transparent;
    scale: 0.9;
}

menu .container ul a.link.alt:hover {
    /* styling */
    rotate: 90deg;
}

menu .container ul a.link .hover {
    /* position */
    position: absolute;
    top: 0;
    right: -32px;
    z-index: 2;

    /* sizing */
    height: 32px;
    width: fit-content;
}

menu .container ul a.link:hover .hover {
    opacity: 1;
    translate: 0 0;
}

/*** avatar ***/
menu .container ul a.avatar {
    /* sizing */
    --size: 32px;
    width: var(--size);
    height: var(--size);

    /* flex */
    display: flex;
    justify-content: center;
    align-items: center;

    /* styling */
    border: none;
    border-radius: 50%;
    background-color: var(--foreground-color);

    /* transition */
    transition: var(--quick-transition-background_color);
}

menu .container ul a.avatar:hover,
menu .container ul a.avatar:focus,
menu .container ul a.avatar:focus-visible {
    background-color: var(--foreground-color);
}

menu .container ul a.avatar:active {
    background-color: var(--form-color-selector);
}

menu .container ul a.avatar .avatar {
    /* sizing */
    --size: 32px;
    width: var(--size);
    height: var(--size);

    /* styling */
    border-radius: 50%;

    /* transition */
    transition: var(--quick-transition-scale);

}

menu .container ul a.avatar:hover .avatar,
menu .container ul a.avatar:focus .avatar,
menu .container ul a.avatar:focus-visible .avatar {
    scale: 0.8;
}

/* scroll */
main {
    /* sizing */
    width: 100%;

    /* transition */
    transition: width 0.25s ease-in-out;
}

body.signedIn:not(.scrolled) main {
    /* sizing */
    /* width: calc(100% - 52px); */
}