section.tree {
    /* variables */
    --padding: 10px;
    --gap: 10px;
}

section.tree .container {
    /* spacing */
    padding: min(calc(var(--padding) * 4), max(4vw, var(--padding)));

    /* flex */
    display: flex;
    flex-direction: column;
    gap: var(--padding);
}

/*** header ***/
section.tree .container .spacer {
    /* sizing */
    width: 100%;
    height: 52px;
}

section.tree .container .header {
    /* position */
    position: relative;

    /* sizing */
    width: 100%;
    height: 375px;

    /* flex */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.tree .container .header .background {
    /* sizing */
    width: 100%;
    height: 100%;
    object-fit: cover;

    /* styling */
    border-radius: 10px;
    overflow: hidden;
}

/**** main ****/
section.tree .container .main {

    /* flex */
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
}

section.tree .container .main .mainbar {
    /* sizing */
    width: 100%;
    max-width: calc(100% - 350px - var(--gap));
    min-width: min(500px, 100%);

    /* flex */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/*** sidebar ***/
section.tree .container .main .sidebar {
    /* sizing */
    max-width: 350px;
    width: 100%;

    /* flex */
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

@media (max-width: 934px) {

    section.tree .container .main .mainbar,
    section.tree .container .main .sidebar {
        width: 100%;
        max-width: 100%;
    }
}

/*** sidebar default ***/
section.tree .container .main .sidebar .sidebar-item {
    /* sizing */
    padding: 10px;

    /* styling */
    border-radius: 10px;
    background-color: var(--background-color-200);
    color: var(--foreground-color-200);

    /* transition */
    transition: var(--default-transition-color), var(--default-transition-background_color);
}

section.tree .container .main .sidebar .sidebar-item h3 {
    /* sizing */
    flex-shrink: 1;

    /* spacing */
    margin: 0;
    padding: 0;
    padding-bottom: calc(var(--gap) / 2);

    /* text */
    font-weight: 700;
    font-size: 16px;

    /* overflow */
    overflow: hidden;

    /* transition */
    transition: var(--default-transition-color), var(--default-transition-background_color);
}

/*** sidebar icon ***/
section.tree .container .main .sidebar .sidebar-item.icon {
    /* flex */
    display: flex;

    /* sizing */
    padding: 0;
    height: 120px;

    /* styling */
    overflow: hidden;
}

section.tree .container .main .sidebar .sidebar-item.icon img,
section.tree .container .main .sidebar .sidebar-item.icon video {
    /* sizing */
    width: 100%;
    height: 100%;

    /* styling */
    object-fit: cover;
}

/*** sidebar info ***/
section.tree .container .main .sidebar .sidebar-item.info h2,
section.tree .container .main .sidebar .sidebar-item.info-icon h2 {
    /* position */
    position: relative;
    z-index: 1;

    /* spacing */
    margin: 0;
    padding: 0;

    /* text */
    font-weight: 700;
    font-size: 24px;

    /* transition */
    transition: var(--default-transition-color), var(--default-transition-background_color);
}

section.tree .container .main .sidebar .sidebar-item.info span,
section.tree .container .main .sidebar .sidebar-item.info-icon span {
    /* position */
    position: relative;
    z-index: 1;

    /* spacing */
    padding-left: 5px;

    /* text */
    color: var(--foreground-color-300);
    font-weight: 600;
    font-size: 12px;

    /* transition */
    transition: var(--default-transition-color), var(--default-transition-background_color);
}

/*** sidebar info-icon ***/
section.tree .container .main .sidebar .sidebar-item.info-icon {
    /* position */
    position: relative;

    /* flex */
    display: flex;
    flex-direction: column;

    /* sizing */
    height: 120px;

    /* styling */
    overflow: hidden;
}

section.tree .container .main .sidebar .sidebar-item.info-icon img,
section.tree .container .main .sidebar .sidebar-item.info-icon video {
    /* position */
    position: absolute;
    inset: 0;
    z-index: 0;

    /* sizing */
    width: 100%;
    height: 100%;

    /* styling */
    object-fit: cover;
    opacity: 0.7;
}

/*** sidebar markdown ***/
section.tree .container .main .sidebar .sidebar-item.markdown {
    /* whitespace */
    white-space: pre-line;

    /* resize */
    resize: none;

    /* flex */
    display: flex;
    flex-direction: column;
}

section.tree .container .main .sidebar .sidebar-item.markdown ul {
    /* spacing */
    margin: 0;

    /* whitespace */
    white-space: initial;
}

section.tree .container .main .sidebar .sidebar-item.markdown ul li {
    /* whitespace */
    white-space: pre-line;
}

/*** sidebar user ***/
section.tree .container .main .sidebar .sidebar-item.user {
    /* position */
    position: relative;

    /* flex */
    display: flex;
    flex-direction: row;
    gap: var(--gap);

    /* text */
    text-decoration: none;

    /* styling */
    color: var(--foreground-color-200);

    /* transition */
    transition: var(--quick-transition-color), var(--quick-transition-background_color);
}

section.tree .container .main .sidebar .sidebar-item.user:hover {
    background-color: var(--background-color-300);
}

section.tree .container .main .sidebar .sidebar-item.user:focus,
section.tree .container .main .sidebar .sidebar-item.user:focus-visible {
    background-color: var(--background-color-300);
    outline-offset: 3px;
    outline: 2px solid currentColor;
}

section.tree .container .main .sidebar .sidebar-item.user:active {
    color: var(--form-color-selector);
}

section.tree .container .main .sidebar .sidebar-item.user .content {
    /* flex */
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

section.tree .container .main .sidebar .sidebar-item.user h2 {
    /* spacing */
    margin: 0;
    padding: 0;

    /* text */
    font-weight: 700;
    font-size: 24px;

    /* styling */
    color: var(--foreground-color-200);

    /* transition */
    transition: var(--default-transition-color), var(--default-transition-background_color);
}

section.tree .container .main .sidebar .sidebar-item.user span:not(.open) {
    /* text */
    color: var(--foreground-color-300);
    font-weight: 600;
    font-size: 12px;

    /* transition */
    transition: var(--default-transition-color), var(--default-transition-background_color);
}

section.tree .container .main .sidebar .sidebar-item.user span.open {
    /* position */
    position: absolute;
    top: 10px;
    right: 10px;

    /* text */
    font-size: 18px;
}

section.tree .container .main .sidebar .sidebar-item.user .avatar {
    /* sizing */
    --size: 50px;
    width: var(--size);
    height: var(--size);
    flex-shrink: 0;
}

section.tree .container .main .sidebar .sidebar-item.user .avatar img {
    /* sizing */
    width: 100%;
    height: 100%;

    /* styling */
    border-radius: 50%;
}

/*** authedUsers ***/
section.tree .container .main .sidebar .sidebar-item .authedUsers {
    /* variables */
    --column-width: 330px;
    --gap: 10px;

    /* grid */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

section.tree .container .main .sidebar .sidebar-item .authedUsers a {
    /* position */
    position: relative;

    /* sizing */
    width: 100%;
    padding: var(--padding);

    /* flex */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: calc(var(--gap) / 2);

    /* text */
    text-decoration: none;

    /* styling */
    border-radius: 10px;
    color: var(--foreground-color-200);

    /* transition */
    transition: var(--quick-transition-color), var(--quick-transition-background_color);
}

section.tree .container .main .sidebar .sidebar-item .authedUsers a:hover {
    background-color: var(--background-color-300);
}

section.tree .container .main .sidebar .sidebar-item .authedUsers a:focus,
section.tree .container .main .sidebar .sidebar-item .authedUsers a:focus-visible {
    background-color: var(--background-color-300);
    outline-offset: 3px;
    outline: 2px solid currentColor;
}

section.tree .container .main .sidebar .sidebar-item .authedUsers a:active {
    color: var(--form-color-selector);
}

section.tree .container .main .sidebar .sidebar-item .authedUsers .avatar {
    /* sizing */
    --size: 50px;
    width: var(--size);
    height: var(--size);
    flex-shrink: 0;
}

section.tree .container .main .sidebar .sidebar-item .authedUsers .avatar img {
    /* sizing */
    width: 100%;
    height: 100%;

    /* styling */
    border-radius: 50%;
}

section.tree .container .main .sidebar .sidebar-item .authedUsers .content {
    /* flex */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

section.tree .container .main .sidebar .sidebar-item .authedUsers span.type-1 {
    /* text */
    color: var(--foreground-color-200);
    font-weight: 700;
    font-size: 14px;

    /* transition */
    transition: var(--default-transition-color), var(--default-transition-background_color);
}

section.tree .container .main .sidebar .sidebar-item .authedUsers span.type-2 {
    /* text */
    color: var(--foreground-color-300);
    font-weight: 600;
    font-size: 11px;

    /* transition */
    transition: var(--default-transition-color), var(--default-transition-background_color);
}

section.tree .container .main .sidebar .sidebar-item .authedUsers span.open {
    /* position */
    position: absolute;
    top: 10px;
    right: 10px;

    /* text */
    font-size: 18px;

    /* styling */
    color: var(--foreground-color-200);

    /* transition */
    transition: var(--default-transition-color);
}

/*** markdown ***/
section.tree .container .main .sidebar .sidebar-item.markdown *:not(ul) {
    /* spacing */
    margin: 0;
    padding: 0;
}

section.tree .container .main .sidebar .sidebar-item:not(.markdown, .links) ul {
    /* spacing */
    margin: 0;
    padding: 0;

    /* list */
    list-style: none;

    /* flex */
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

section.tree .container .main .sidebar .sidebar-item:not(.markdown, .links) ul li {
    /* position */
    position: relative;

    /* flex */
    display: flex;
    justify-content: left;
    align-items: center;
    gap: var(--gap);

    /* cursor */
    cursor: help;
}

section.tree .container .main .sidebar .sidebar-item ul li svg {
    /* sizing */
    padding: 2px;
}

section.tree .container .main .sidebar .sidebar-item ul li span {
    /* pointer events */
    pointer-events: none;

    /* text */
    font-weight: 600;
}

section.tree .container .main .sidebar .sidebar-item ul li span.identifier {
    /* position */
    position: absolute;
    left: 34px;

    /* sizing */
    width: calc(100% - 34px);

    /* text */
    font-weight: 600;

    /* translate */
    translate: 0 100%;
    opacity: 0;
    scale: 1 0;

    /* transition */
    transition: translate 0.25s ease-in-out, opacity 0.25s ease-in-out, scale 0.25s ease-in-out;
}

section.tree .container .main .sidebar .sidebar-item ul li:hover span.identifier {
    /* translate */
    translate: 0 0;
    opacity: 1;
    scale: 1 1;
}

section.tree .container .main .sidebar .sidebar-item ul li span:not(.material-symbols-outlined, .identifier) {
    /* translate */
    translate: 0 0;
    opacity: 1;
    scale: 1 1;

    /* transition */
    transition: translate 0.25s ease-in-out, opacity 0.25s ease-in-out, scale 0.25s ease-in-out;

    /* text */
    text-transform: capitalize;
}

section.tree .container .main .sidebar .sidebar-item ul li:hover span:not(.material-symbols-outlined, .identifier) {
    /* translate */
    translate: 0 -100%;
    opacity: 0;
    scale: 1 0;
}


section.tree .container .main .sidebar .sidebar-item.links ul {
    /* sizing */
    --size: 36.25px;

    /* spacing */
    margin: 0;
    padding: 0;

    /* list */
    list-style: none;

    /* grid */
    display: grid;
    grid-template-columns: repeat(auto-fit, var(--size));
    gap: var(--gap);
}

section.tree .container .main .sidebar .sidebar-item.links ul li {
    /* position */
    position: relative;

    /* sizing */
    width: var(--size);
    height: var(--size);

    /* flex */
    display: flex;
    justify-content: left;
    align-items: center;
    gap: var(--gap);

    /* cursor */
    cursor: help;
}

section.tree .container .main .sidebar .sidebar-item.links ul li a {
    /* sizing */
    width: var(--size);
    height: var(--size);
    flex-shrink: 0;

    /* flex */
    display: flex;
    justify-content: center;
    align-items: center;

    /* styling */
    border-radius: 4px;
    color: var(--foreground-color-100);
}

section.tree .container .main .sidebar .sidebar-item.links ul li:hover a {
    /* styling */
    background-color: var(--background-color-300);
}

section.tree .container .main .sidebar .sidebar-item.links ul li a:focus,
section.tree .container .main .sidebar .sidebar-item.links ul li a:focus-visible {
    /* styling */
    outline: 2px solid currentColor;
}

section.tree .container .main .sidebar .sidebar-item.links ul li a:active {
    /* styling */
    color: var(--form-color-selector);
}

section.tree .container .main .sidebar .sidebar-item .avatarPreview {
    /* sizing */
    width: 100%;
    aspect-ratio: 1/1;

    /* styling */
    border-radius: 50%;
}

/** Sidebar Settings **/
section.tree .container .main .sidebar .sidebar-item.settings {
    /* flex */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
}

section.tree .container .main .sidebar .sidebar-item.settings fieldset {
    /* flex */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
}

section.tree .container .main .sidebar .sidebar-item.settings label {
    /* sizing */
    width: 100%;
    margin: 0;

    /* styling */
    border: none;

    /* no select */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/** Sidebar Controls **/
section.tree .container .main .sidebar .sidebar-item.controls {
    /* sizing */
    --column-width: 330px;
    --gap: 10px;

    /* grid */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

section.tree .container .main .sidebar .sidebar-item.controls a,
section.tree .container .main .sidebar .sidebar-item.controls button {
    /* sizing */
    height: 36.25px;

    /* flex */
    display: flex;
    justify-content: center;
    align-items: center;

    /* styling */
    border: none;
    border-radius: 4px;
    background-color: var(--background-color-300);
    color: var(--foreground-color-300);

    /* text */
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;

    /* cursor */
    cursor: pointer;
}

section.tree .container .main .sidebar .sidebar-item.controls a {
    /* styling */
    background-color: var(--form-color-invalid-hold-opac);
    color: var(--foreground-color-300);
    border: 2px solid var(--form-color-invalid-hold);

    /* transition */
    transition: var(--default-transition-color);
}

section.tree .container .main .sidebar .sidebar-item.controls a:hover,
section.tree .container .main .sidebar .sidebar-item.controls a:focus,
section.tree .container .main .sidebar .sidebar-item.controls a:focus-visible {
    /* styling */
    background-color: var(--form-color-invalid-hold);
}

section.tree .container .main .sidebar .sidebar-item.controls a:active,
section.tree .container .main .sidebar .sidebar-item.controls button:active {
    /* styling */
    background-color: transparent !important;
    color: var(--foreground-color-300);
    border: 2px solid currentColor;
    outline: none !important;
}

section.tree .container .main .sidebar .sidebar-item.controls button {
    /* styling */
    background-color: var(--form-color-invalid-opac);
    color: var(--foreground-color-300);
    border: 2px solid var(--form-color-invalid);

    /* transition */
    transition: var(--default-transition-color);
}

section.tree .container .main .sidebar .sidebar-item.controls button:hover,
section.tree .container .main .sidebar .sidebar-item.controls button:focus,
section.tree .container .main .sidebar .sidebar-item.controls button:focus-visible {
    /* styling */
    background-color: var(--form-color-invalid);
}

section.tree .container .main .sidebar .sidebar-item.controls a:focus,
section.tree .container .main .sidebar .sidebar-item.controls a:focus-visible,
section.tree .container .main .sidebar .sidebar-item.controls button:focus,
section.tree .container .main .sidebar .sidebar-item.controls button:focus-visible {
    /* styling */
    outline: 2px solid currentColor;
    outline-offset: 2px;
}

section.tree .container .main .sidebar .sidebar-item .content {
    /* sizing */
    width: 100%;
}

section.tree .container .main .sidebar .sidebar-item form:not(.type-2),
section.tree .container .main .sidebar .sidebar-item .content-2 {
    /* sizing */
    width: 100%;

    /* flex */
    display: flex;
    gap: 10px;
}

section.tree .container .main .sidebar .sidebar-item form input,
section.tree .container .main .sidebar .sidebar-item .content-2 input {
    /* sizing */
    width: 100%;
}

section.tree .container .main .sidebar .sidebar-item form button,
section.tree .container .main .sidebar .sidebar-item .content-2 button {
    /* sizing */
    width: 75px;
    flex-shrink: 0;
}

section.tree .container .main .sidebar .sidebar-item form.type-2 {
    /* sizing */
    width: 100%;

    /* flex */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

section.tree .container .main .sidebar .sidebar-item form.type-2 button {
    /* sizing */
    width: 100%;
}

/*** mainbar ***/
/* section.tree .container .main .mainbar {} */

section.tree .container .main .mainbar .links {
    /* spacing */
    padding: 10px;

    /* styling */
    border-radius: 10px;
    background-color: var(--background-color-200);
    color: var(--foreground-color-200);

    /* transition */
    transition: var(--default-transition-color), var(--default-transition-background_color);
}

section.tree .container .main .mainbar .links ul {
    /* spacing */
    padding: 0;
    margin: 0;

    /* flex */
    display: flex;
    flex-direction: column;
    gap: calc(var(--gap) * 2);
}

section.tree .container .main .mainbar .links ul a {
    /* spacing */
    padding: 10px;
    overflow: clip;

    /* flex */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap);

    /* text */
    text-decoration: none;

    /* styling */
    border-radius: 10px;

    /* transition */
    transition: var(--quick-transition-color);
}

section.tree .container .main .mainbar .links ul a:hover {
    /* styling */
    background-color: var(--background-color-300);
}

section.tree .container .main .mainbar .links ul a img.favicon {
    /* sizing */
    --size: 50px;
    height: var(--size);
    width: var(--size);

    /* styling */
    border-radius: 10px;
}

section.tree .container .main .mainbar .links ul a div {
    /* flex */
    display: flex;
    flex-direction: column;
    gap: calc(var(--gap) / 2);
}

section.tree .container .main .mainbar .links ul a span.title {
    /* text */
    font-weight: 700;
    font-size: 22px;
    text-overflow: ellipsis;

    /* styling */
    color: var(--foreground-color-200);

    /* transition */
    transition: var(--default-transition-color);
}

section.tree .container .main .mainbar .links ul a span.url {
    /* text */
    font-weight: 500;
    font-size: 16px;
    text-overflow: ellipsis;

    /* styling */
    color: var(--foreground-color-300);

    /* transition */
    transition: var(--default-transition-color);
}

section.tree .container .main .mainbar .links ul li {
    /* sizing */
    padding: 5px;

    /* flex */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    /* styling */
    border: 2px solid var(--background-color-300);
    border-radius: 10px;
}

section.tree .container .main .mainbar .links ul li div {
    /* sizing */
    width: 100%;

    /* flex */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

section.tree .container .main .mainbar .links ul li fieldset {
    /* sizing */
    padding: 0;
    margin: 0;
    min-width: 400px;
    flex-grow: 1;
    flex-basis: 0;

    /* flex */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    /* styling */
    border: none;
}

section.tree .container .main .mainbar .links ul li fieldset input[type="text"],
section.tree .container .main .mainbar .links ul li fieldset input[type="url"] {
    /* sizing */
    padding: 5px 10px;
    width: 100%;

    /* styling */
    border: none;
    background-color: var(--background-color-100);
    color: var(--foreground-color-100);
    border-radius: 5px;
}

section.tree .container .main .mainbar .links button {
    /* sizing */
    padding: 5px;
    width: 100%;

    /* text */
    font-size: 16px;
    font-weight: 600;

    /* styling */
    border: none;
    background-color: var(--background-color-300);
    color: var(--foreground-color-300);
    border-radius: 10px;

    /* cursor */
    cursor: pointer;
}

section.tree .container .main .mainbar .links button:hover,
section.tree .container .main .mainbar .links button:focus,
section.tree .container .main .mainbar .links button:focus-visible {
    outline: 1px solid currentColor;
    background-color: transparent;
}

section.tree .container .main .mainbar .links button:active {
    color: var(--form-color-selector);
}

/** grid style **/
section.tree .container .main .mainbar .grid {
    display: none;
}

section.tree .container .main .mainbar .grid~.links ul {
    /* grid */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
    gap: var(--gap);
}

section.tree .container .main .mainbar .grid~.links ul a {
    /* position */
    position: relative;

    /* sizing */
    height: 120px;

    /* flex */
    justify-content: center;
    align-items: center;
}

section.tree .container .main .mainbar .grid~.links ul a div {
    /* position */
    position: absolute;
    inset: 10px;
    top: auto;
}

section.tree .container .main .mainbar .grid~.links ul a div span.title {
    /* text */
    font-size: 12px;
    text-align: center;
}

section.tree .container .main .mainbar .grid~.links ul a div span.url {
    display: none;
}

/*** TreeSearch ***/
section.treeSearch,
section.treeUser {
    /* spacing */
    padding: 20px min(40px, max(4vw, 10px));
    padding-top: 62px;
}

section.treeUser {
    /* spacing */
    padding-top: 0px;
}

section.treeSearch .container,
section.treeUser .container {
    /* flex */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/** header **/
section.treeSearch .container .header {
    /* sizing */
    width: 100%;
    height: 52px;
    padding: 10px;

    /* flex */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

section.treeSearch .container .header input {
    /* sizing */
    height: 100%;
    width: min(400px, 100%);
    padding-left: 20px;

    /* styling */
    outline: none !important;
    border: none;
    border-radius: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: var(--background-color-200);
    color: var(--foreground-color-200);

    /* text */
    font-size: 18px;
    font-weight: 500;

    /* transition */
    transition: var(--quick-transition-background_color), var(--quick-transition-color);
}

section.treeSearch .container .header input:focus {
    background-color: var(--background-color-300);
    color: var(--foreground-color-300);
}

section.treeSearch .container .header button {
    /* sizing */
    height: 100%;
    width: min(100px, 100%);

    /* styling */
    outline: none !important;
    border: none;
    border-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--background-color-200);
    color: var(--foreground-color-200);

    /* text */
    font-size: 16px;
    font-weight: 700;

    transition: font-size 0.125s ease-in-out;
}

section.treeSearch .container .header button:valid {
    /* styling */
    background-color: var(--form-color-selector);
}

section.treeSearch .container .header button:valid:hover {
    /* styling */
    color: var(--form-color-selector);
    background-color: var(--foreground-color-200);
}

section.treeSearch .container .header button:focus {
    /* text */
    font-size: 18px;
}

section.treeSearch .container .header .search-box {
    /* sizing */
    height: 100%;
    width: min(500px, 100%);

    /* flex */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /* styling */
    border-radius: 10px;
}

section.treeSearch .container .header .search-box:focus-within {
    outline: 3px solid var(--form-color-selector);
    outline-offset: 2px;
}

section.treeUser .container h2 {
    /* spacing */
    margin-bottom: 10px;
    margin-top: 20px;

    /* text */
    text-align: left;
}

/** results **/
/* section.treeSearch .container .results {} */

section.treeSearch .container .results span.no-results {
    /* sizing */
    width: 100%;
    height: 250px;

    /* flex */
    display: flex;
    justify-content: center;
    align-items: center;

    /* text */
    font-size: 26px;
    font-weight: 700;
}

section.treeSearch .container .results ul,
section.treeUser .container ul {
    /* spacing */
    padding: 0;
    margin: 0;

    /* grid */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
    gap: 10px;
}

@media (max-width: 623px) {

    section.treeSearch .container .results ul .search-item,
    section.treeUser .container ul .search-item {
        /* sizing */
        width: 100% !important;
    }
}

section.treeSearch .container .results ul .search-item,
section.treeUser .container ul .search-item {
    /* position */
    position: relative;

    /* sizing */
    padding: 10px;
    width: 100%;
    height: 120px;
    overflow: hidden;

    /* flex */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    /* styling */
    border: none;
    border-radius: 10px;
    background-color: var(--background-color-200);
    color: var(--foreground-color-200);

    /* text */
    text-decoration: none;

    /* pointer */
    cursor: pointer;
}

section.treeSearch .container .results ul .search-item h3,
section.treeUser .container ul .search-item h3 {
    /* position */
    position: relative;
    z-index: 1;

    /* spacing */
    padding: 0;
    margin: 0;

    /* text */
    font-size: 22px;
    font-weight: 700;
}

section.treeSearch .container .results ul .search-item span,
section.treeUser .container ul .search-item span {
    /* position */
    position: relative;
    z-index: 1;

    /* spacing */
    padding: 0;
    margin: 0;

    /* text */
    text-align: center;
    font-size: 14px;
    font-weight: 500;

    /* styling */
    color: var(--foreground-color-300);
}

section.treeSearch .container .results ul .search-item span.material-symbols-outlined {
    /* position */
    inset: 10px;
    right: auto;
    bottom: auto;
    z-index: 2;

    /* sizing */
    --size: 26px;
    height: var(--size);
    width: var(--size);

    /* flex */
    display: flex;
    justify-content: center;
    align-items: center;

    /* text */
    font-size: 18px;
    font-weight: 600;

    /* styling */
    border-radius: 50%;
    background-color: var(--background-color-300);
    color: var(--foreground-color-300);
}

section.treeSearch .container .results ul .search-item span.hover {
    /* position */
    inset: 10px;
    left: 23px;
    right: auto;
    bottom: auto;
    z-index: 1;

    /* sizing */
    height: 26px;
    padding-left: 18px;
    padding-right: 20px;

    /* flex */
    display: flex;
    align-items: center;

    /* styling */
    background-color: var(--background-color-300);
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;

    /* visibility */
    translate: -5px 0;
    opacity: 0;

    /* transition */
    transition: translate 0.125s ease-in-out, opacity 0.125s ease-in-out;
}

section.treeSearch .container .results ul .search-item span.material-symbols-outlined:hover+span.hover {
    /* visibility */
    translate: 0 0;
    opacity: 1;
}

section.treeSearch .container .results ul .search-item .background,
section.treeUser .container ul .search-item .background {
    /* position */
    position: absolute;
    inset: 0;
    z-index: 0;

    /* sizing */
    width: 100%;
    height: 100%;

    /* transition */
    transition: translate 0.125s ease-in-out;
}

section.treeSearch .container .results ul .search-item img,
section.treeUser .container ul .search-item img,
section.treeUser .container ul .search-item video {
    /* position */
    position: absolute;
    inset: 0;
    bottom: auto;
    z-index: 0;

    /* sizing */
    width: 100%;
    height: calc(100% + var(--offset));

    /* darken */
    opacity: 0.4;

    /* image */
    object-fit: cover;

    /* variables */
    --offset: 10px;
    --duration: 0.25s;
    --method: ease-in-out;

    /* transition */
    transition: opacity var(--duration) var(--method), translate var(--duration) var(--method), scale var(--duration) var(--method);
}

section.treeSearch .container .results ul .search-item:hover img,
section.treeSearch .container .results ul .search-item:focus img,
section.treeSearch .container .results ul .search-item:focus-within img,
section.treeUser .container ul .search-item:hover img,
section.treeUser .container ul .search-item:focus img,
section.treeUser .container ul .search-item:focus-within img,
section.treeUser .container ul .search-item:hover video,
section.treeUser .container ul .search-item:focus video,
section.treeUser .container ul .search-item:focus-within video {
    /* lighten */
    opacity: 0.7;

    /* transform */
    translate: 0 calc(-1 * var(--offset));
    scale: 1.01;
}

section.treeSearch .container .results ul .search-item:hover .background,
section.treeSearch .container .results ul .search-item:focus .background,
section.treeSearch .container .results ul .search-item:focus-visible .background,
section.treeUser .container ul .search-item:hover .background,
section.treeUser .container ul .search-item:focus .background,
section.treeUser .container ul .search-item:focus-visible .background {
    /* transform */
    translate: -5% -5%;
}

section.treeSearch .container .results ul .search-item:focus,
section.treeSearch .container .results ul .search-item:focus-visible,
section.treeUser .container ul .search-item:focus,
section.treeUser .container ul .search-item:focus-visible {
    /* outline */
    outline: 5px solid var(--form-color-selector);
}

section.treeSearch .container .results ul .search-item .background .item,
section.treeUser .container ul .search-item .background .item {
    /* position */
    position: absolute;
    right: -175px;
    bottom: -30%;

    /* sizing */
    width: 225px;
    height: 100%;

    /* styling */
    border: 10px solid currentColor;
    color: var(--form-color-invalid-hold);
    border-left: none;
    border-right: none;
    border-bottom: none;

    /* transform */
    rotate: -45deg;
}

section.treeSearch .container .results ul .search-item .background .item:nth-child(1),
section.treeUser .container ul .search-item .background .item:nth-child(1) {
    /* position */
    right: -145px;

    /* styling */
    color: var(--form-color-valid-hold);
}

section.treeSearch .container .results ul .search-item .background .item:nth-child(2),
section.treeUser .container ul .search-item .background .item:nth-child(2) {
    /* position */
    right: -115px;

    /* styling */
    color: var(--form-color-selector);
}

section.treeSearch .container .results ul .search-item .background .item:nth-child(3),
section.treeUser .container ul .search-item .background .item:nth-child(3) {
    /* position */
    right: -85px;

    /* styling */
    color: var(--form-color-invalid);
}

/* controls */
section.tree .container .main .mainbar .controls {
    /* sizing */
    padding: 10px 20px;
    padding-right: 42px;

    /* flex */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;

    /* styling */
    border-radius: 10px;
    background-color: var(--background-color-200);

    /* transition */
    transition: var(--default-transition-color),
        var(--default-transition-background_color),
        padding ease-in-out 0.25s;
}

body.scrolled section.tree .container .main .mainbar .controls {
    padding-right: 20px;
}

body.scrolled.scrolledUp section.tree .container .main .mainbar .controls {
    padding-right: 42px;
}

section.tree .container .main .mainbar .controls .set {
    /* flex */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

section.tree .container .main .mainbar .controls .set button {
    /* sizing */
    width: 32px;
    height: 32px;
    padding: 0;

    /* flex */
    display: flex;
    justify-content: center;
    align-items: center;

    /* styling */
    border-radius: 5px;
    background-color: transparent;
    color: var(--foreground-color-200);
    border: none;

    /* cursor */
    cursor: pointer;
}

section.tree .container .main .mainbar .controls .set button span {
    /* cursor */
    cursor: pointer;
}

section.tree .container .main .mainbar .controls .set button:hover .material-symbols-outlined,
section.tree .container .main .mainbar .controls .set button:focus .material-symbols-outlined,
section.tree .container .main .mainbar .controls .set button:focus-within .material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

section.tree .container .main .mainbar .controls .set button:active .material-symbols-outlined {
    color: var(--form-color-selector);
}

section.tree .container .main .mainbar .controls .set span {
    /* sizing */
    width: 32px;
    height: 32px;

    /* flex */
    display: flex;
    justify-content: center;
    align-items: center;

    /* text */
    font-size: 28px;

    /* cursor */
    cursor: not-allowed;
}

/**** tree-edit ****/
/*** tree-edit submit+add ***/
section.tree.edit .container .main .sidebar .sidebar-item.submit,
section.tree.edit .container .main .sidebar .sidebar-item.images label[type="file"],
section.tree.edit .container .main .sidebar button[type="add"],
section.tree.edit .container .main .mainbar .links ul button[type="add"] {
    /* sizing */
    height: 36.25px;

    /* flex */
    display: flex;
    justify-content: center;
    align-items: center;

    /* styling */
    border: none;
    border-radius: 4px;
    background-color: var(--form-color-selector);
    color: var(--foreground-color-100);

    /* text */
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;

    /* cursor */
    cursor: pointer;

    transition-duration: 0s !important;
}

section.tree.edit .container .main .sidebar .sidebar-item.submit:hover,
section.tree.edit .container .main .sidebar .sidebar-item.images label[type="file"]:hover,
section.tree.edit .container .main .sidebar button[type="add"]:hover,
section.tree.edit .container .main .mainbar .links ul button[type="add"]:hover {
    /* styling */
    color: var(--form-color-selector);
    background-color: var(--foreground-color-100);
}

/*** tree-edit title ***/
section.tree.edit .container .main .sidebar .sidebar-item.title:invalid {
    /* styling */
    border: 2px solid var(--form-color-invalid);
    background-color: var(--form-color-invalid-opac);
}

section.tree.edit .container .main .sidebar .sidebar-item.title:valid {
    /* styling */
    border: 2px solid var(--form-color-valid);
    background-color: var(--form-color-valid-opac);
}

section.tree.edit .container .main .sidebar .sidebar-item.title:focus {
    outline: 2px solid transparent;
    border-color: var(--form-color-selector);
}

/*** tree-edit markdown ***/
section.tree.edit .container .main .sidebar .sidebar-item.markdown {
    /* styling */
    border: 2px solid var(--foreground-color-200);
    color: var(--foreground-color-200);
    background-color: var(--background-color-200);
}

section.tree.edit .container .main .sidebar .sidebar-item.markdown:focus {
    outline: 2px solid transparent;
    border-color: var(--form-color-selector);
}

/*** tree-edit settings ***/
section.tree.edit .container .main .sidebar .sidebar-item.settings {}

section.tree.edit .container .main .sidebar .sidebar-item.settings fieldset {
    /* sizing */
    margin: 0;
    padding: 0;

    /* styling */
    border: none;
}

section.tree.edit .container .main .sidebar .sidebar-item.settings fieldset label {}

section.tree.edit .container .main .sidebar .sidebar-item.settings fieldset input[type="checkbox"] {}

/*** tree-edit links ***/
section.tree.edit .container .main .mainbar .links ul {
    /* flex */
    gap: 10px;

    /* styling */
    list-style: none;
}

section.tree.edit .container .main .mainbar .links ul li {
    /* flex */
    display: flex;
    flex-direction: row;
    flex-wrap: unset;
    align-items: unset;
    justify-content: unset;
    gap: 5px;

    /* sizing */
    padding: 0;
    border: none;
}

section.tree.edit .container .main .mainbar .links ul li>fieldset {
    /* flex */
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex-grow: 1;
    align-items: unset;
    justify-content: unset;
    flex-basis: unset;

    /* sizing */
    margin: 0;
    padding: 0;
    min-width: unset;

    /* styling */
    border: none;
}

section.tree.edit .container .main .mainbar .links ul li>fieldset>fieldset[type="text"] {
    /* flex */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    /* sizing */
    margin: 0;
    padding: 0;

    /* text */
    font-size: 14px;
    font-weight: 500;

    /* styling */
    border: 2px solid var(--foreground-color-200);
    color: var(--foreground-color-200);
    background-color: var(--background-color-200);
    border-radius: 5px;
}

section.tree.edit .container .main .mainbar .links ul li>fieldset>fieldset[type="text"]:invalid {
    /* styling */
    border: 2px solid var(--form-color-invalid);
    background-color: var(--form-color-invalid-opac);
}

section.tree.edit .container .main .mainbar .links ul li>fieldset>fieldset[type="text"]:valid {
    /* styling */
    border: 2px solid var(--form-color-valid);
    background-color: var(--form-color-valid-opac);
}

section.tree.edit .container .main .mainbar .links ul li>fieldset>fieldset[type="text"] label {
    /* sizing */
    padding: 5px;
    padding-right: 0;

    /* text */
    font-weight: 600;
}

section.tree.edit .container .main .mainbar .links ul li>fieldset>fieldset[type="text"] input[type="text"],
section.tree.edit .container .main .mainbar .links ul li>fieldset>fieldset[type="text"] input[type="url"] {
    /* sizing */
    margin: 0;
    padding: 0;
    padding-left: 5px;
    height: 100%;
    width: 100%;

    /* styling */
    border: none;
    background-color: transparent;
    color: inherit;
}

section.tree.edit .container .main .mainbar .links ul li>fieldset>fieldset[type="text"]:focus-within {
    border-color: var(--form-color-selector);
    outline: 2px solid transparent;
}

section.tree.edit .container .main .mainbar .links ul li>fieldset>fieldset[type="text"] input[type="text"]:focus,
section.tree.edit .container .main .mainbar .links ul li>fieldset>fieldset[type="text"] input[type="url"]:focus {
    outline: none;
}

section.tree.edit .container .main .mainbar .links ul li button[type="remove"] {
    /* sizing */
    width: 34.3333px;

    /* flex */
    display: flex;
    align-items: center;
    justify-content: center;

    /* text */
    font-size: 13.3333px;
    font-weight: 400;
    line-height: 1;

    /* styling */
    border-radius: 5px;
    background-color: var(--form-color-selector);
    color: var(--foreground-color-100);
    border: none;
}

section.tree.edit .container .main .mainbar .links ul li button[type="remove"]:hover,
section.tree.edit .container .main .mainbar .links ul li button[type="remove"]:focus {
    /* styling */
    color: var(--form-color-selector);
    background-color: var(--foreground-color-100);
}

/*** tree-edit images ***/
section.tree.edit .container .main .sidebar .sidebar-item.images {
    /* flex */
    display: flex;
    flex-direction: column;
    gap: 5px;
}

section.tree.edit .container .main .sidebar .sidebar-item.images input[type="file"] {
    /* display */
    display: none;
}

/*** tree-edit contributors ***/
section.tree.edit .container .main .sidebar .sidebar-item.contributors {
    /* flex */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

section.tree.edit .container .main .sidebar .sidebar-item.contributors .authedUsers {
    grid-template-columns: 1fr;
}

section.tree.edit .container .main .sidebar .sidebar-item.contributors .authedUsers button {
    /* position */
    position: relative;

    /* sizing */
    width: 100%;
    padding: var(--padding);

    /* flex */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: var(--gap);

    /* text */
    text-decoration: none;

    /* styling */
    border-radius: 10px;
    color: var(--foreground-color-200);
    background-color: transparent;
    border: none;

    /* transition */
    transition: var(--quick-transition-color), var(--quick-transition-background_color);
}

section.tree.edit .container .main .sidebar .sidebar-item.contributors .authedUsers button:hover {
    background-color: var(--background-color-300);
}

section.tree.edit .container .main .sidebar .sidebar-item.contributors .authedUsers button:focus,
section.tree.edit .container .main .sidebar .sidebar-item.contributors .authedUsers button:focus-visible {
    background-color: var(--background-color-300);
    outline-offset: 3px;
    outline: 2px solid currentColor;
}

section.tree.edit .container .main .sidebar .sidebar-item.contributors .authedUsers button:active {
    color: var(--form-color-selector);
}

section.tree.edit .container .main .sidebar .sidebar-item.contributors .authedUsers button .avatar {
    /* sizing */
    --size: 35px;
    width: var(--size);
    height: var(--size);
    flex-shrink: 0;
}

section.tree.edit .container .main .sidebar .sidebar-item.contributors .authedUsers button .avatar img {
    /* sizing */
    width: 100%;
    height: 100%;

    /* styling */
    border-radius: 50%;
}

section.tree.edit .container .main .sidebar .sidebar-item.contributors .authedUsers button .content {
    /* flex */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

section.tree.edit .container .main .sidebar .sidebar-item.contributors .authedUsers button span.type-1 {
    /* text */
    color: var(--foreground-color-200);
    font-weight: 700;
    font-size: 14px;
    text-align: left;

    /* transition */
    transition: var(--default-transition-color), var(--default-transition-background_color);
}

section.tree.edit .container .main .sidebar .sidebar-item.contributors .authedUsers button span.type-2 {
    /* text */
    color: var(--foreground-color-300);
    font-weight: 600;
    font-size: 11px;
    text-align: left;

    /* transition */
    transition: var(--default-transition-color), var(--default-transition-background_color);
}

section.tree.edit .container .main .sidebar .sidebar-item.contributors .authedUsers button span.open {
    /* position */
    position: absolute;
    top: 10px;
    right: 10px;

    /* text */
    font-size: 18px;
}

section.tree.edit .container .main .sidebar .sidebar-item.contributors input[type="text"] {
    /* sizing */
    margin: 0;
    padding: 0;
    padding-left: 5px;
    height: 32px;
    width: 100%;

    /* styling */
    border: 2px solid var(--foreground-color-200);
    color: var(--foreground-color-200);
    background-color: var(--background-color-200);
    border-radius: 5px;
}

section.tree.edit .container .main .sidebar .sidebar-item.contributors input[type="text"]:focus {
    outline: 2px solid transparent;
    border-color: var(--form-color-selector);
}