section.user {
    /* variables */
    --padding: 10px;
    --gap: 10px;
}

section.user .container {
    /* position */
    position: relative;

    /* sizing */
    width: 100%;

    /* flex */
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

/*** background ***/
section.user .container .background {
    /* position */
    position: absolute;
    inset: 0;
    z-index: -2;

    /* sizing */
    width: 100%;
    height: fit-content;
}


/*** header ***/
section.user .container .header {
    /* position */
    position: relative;

    /* sizing */
    width: 100%;
    height: 352px;

    /* spacing */
    margin-top: 12px;
    padding: min(calc(var(--padding) * 4), max(4vw, var(--padding)));
    padding-bottom: 0;

    /* flex */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body.signedIn section.user .container .header {
    /* spacing */
    margin: 0 !important;
}

section.user .container .header .background {
    /* position */
    position: relative;
    z-index: 1;

    /* sizing */
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;

    /* styling */
    border-radius: 10px;
    overflow: hidden;
}

/**** main ****/
section.user .container .main {
    /* sizing */
    padding: min(calc(var(--padding) * 4), max(4vw, var(--padding)));
    padding-top: 0;

    /* flex */
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
}

/*** background ***/
section.user .container .main .background {
    /* position */
    position: absolute;
    inset: calc(-1 * min(calc(var(--padding) * 4), max(4vw, var(--padding))));
    z-index: -1;
    top: -62px;

    /* sizing */
    width: calc(100% + 2 * (min(calc(var(--padding) * 4), max(4vw, var(--padding)))));
    height: calc(100% + 62px + 1 * (min(calc(var(--padding) * 4), max(4vw, var(--padding)))));
    overflow: hidden;

    /* image */
    object-fit: cover;
}

/*** sidebar ***/
section.user .container .main .sidebar,
section.user .container .main .sidebar>form {
    /* sizing */
    max-width: 350px;
    width: 100%;

    /* flex */
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

section.user .container .main .sidebar .sidebar-item {
    /* sizing */
    padding: 10px;

    /* styling */
    border-radius: 10px;
    background-color: var(--background-color-200);
    color: var(--foreground-color-200);

    /* transition */
    transition: var(--default-transition-color), var(--default-transition-background_color);
}

section.user .container .main .sidebar .sidebar-item.markdown {
    /* whitespace */
    white-space: pre-line;

    /* flex */
    display: flex;
    flex-direction: column;
}

section.user .container .main .sidebar .sidebar-item.markdown ul {
    /* spacing */
    margin: 0;

    /* whitespace */
    white-space: initial;
}

section.user .container .main .sidebar .sidebar-item.markdown ul li {
    /* whitespace */
    white-space: pre-line;
}

section.user .container .main .sidebar .sidebar-item.user {
    /* flex */
    display: flex;
    flex-direction: row;
    gap: var(--gap);
}

section.user .container .main .sidebar .sidebar-item.user .content {
    /* flex */
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

section.user .container .main .sidebar .sidebar-item.user .content h2 {
    /* spacing */
    margin: 0;
    padding: 0;

    /* text */
    font-weight: 700;
    font-size: 24px;

    /* transition */
    transition: var(--default-transition-color), var(--default-transition-background_color);
}

section.user .container .main .sidebar .sidebar-item.user .content span {
    /* text */
    color: var(--foreground-color-300);
    font-weight: 600;
    font-size: 12px;

    /* transition */
    transition: var(--default-transition-color), var(--default-transition-background_color);
}

section.user .container .main .sidebar .sidebar-item.user .avatar {
    /* sizing */
    --size: 50px;
    width: var(--size);
    height: var(--size);
    flex-shrink: 0;
}

section.user .container .main .sidebar .sidebar-item.user .avatar img {
    /* sizing */
    width: 100%;
    height: 100%;

    /* styling */
    border-radius: 50%;
}

section.user .container .main .sidebar .sidebar-item.markdown *:not(ul) {
    /* spacing */
    margin: 0;
    padding: 0;
}

section.user .container .main .sidebar .sidebar-item.roles {
    /* transition */
    transition: var(--default-transition-color), var(--default-transition-background_color);
}

section.user .container .main .sidebar .sidebar-item.roles h3 {
    /* spacing */
    padding: 0;
    margin: 0;

    /* transition */
    transition: var(--default-transition-color), var(--default-transition-background_color);
}

section.user .container .main .sidebar .sidebar-item.roles ul {
    /* variables */
    --role-size: 5px;

    /* list */
    list-style: none;

    /* spacing */
    padding: 0;
    margin: 0;

    /* flex */
    display: flex;
    gap: var(--role-size);
}

section.user .container .main .sidebar .sidebar-item.roles ul a {
    /* sizing */
    padding: var(--role-size);
    width: fit-content;

    /* styling */
    background: var(--background-color-300);
    border-radius: var(--role-size);
    color: var(--foreground-color-300);

    /* text */
    text-transform: capitalize;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;

    /* transition */
    transition: var(--default-transition-color), var(--default-transition-background_color);
}

section.user .container .main .sidebar .sidebar-item.roles ul a:hover {
    /* text */
    text-decoration: underline;
}

section.user .container .main .sidebar .sidebar-item.roles ul a:focus,
section.user .container .main .sidebar .sidebar-item.roles ul a:focus-visible {
    /* outline */
    outline-offset: 2px;
    outline: 2px solid currentColor;
}

section.user .container .main .sidebar .sidebar-item.roles ul a:active {
    /* text */
    text-decoration: none;

    /* styling */
    outline: none !important;
    background: var(--background-color-200);
    color: var(--foreground-color-200);
}

section.user .container .main .sidebar .sidebar-item:not(.markdown, .links, .roles) ul {
    /* spacing */
    margin: 0;
    padding: 0;

    /* list */
    list-style: none;

    /* flex */
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

section.user .container .main .sidebar .sidebar-item:not(.markdown, .links, .roles) ul li {
    /* position */
    position: relative;

    /* flex */
    display: flex;
    justify-content: left;
    align-items: center;
    gap: var(--gap);

    /* cursor */
    cursor: help;
}

section.user .container .main .sidebar .sidebar-item ul li svg {
    /* sizing */
    padding: 2px;
}

section.user .container .main .sidebar .sidebar-item ul li span {
    /* pointer events */
    pointer-events: none;

    /* text */
    font-weight: 600;
}

section.user .container .main .sidebar .sidebar-item ul li span.identifier {
    /* position */
    position: absolute;
    left: 34px;

    /* sizing */
    width: calc(100% - 34px);

    /* text */
    font-weight: 600;

    /* translate */
    translate: 0 100%;
    opacity: 0;
    scale: 1 0;

    /* transition */
    transition: translate 0.25s ease-in-out, opacity 0.25s ease-in-out, scale 0.25s ease-in-out;
}

section.user .container .main .sidebar .sidebar-item ul li:hover span.identifier {
    /* translate */
    translate: 0 0;
    opacity: 1;
    scale: 1 1;
}

section.user .container .main .sidebar .sidebar-item ul li span:not(.material-symbols-outlined, .identifier) {
    /* translate */
    translate: 0 0;
    opacity: 1;
    scale: 1 1;

    /* transition */
    transition: translate 0.25s ease-in-out, opacity 0.25s ease-in-out, scale 0.25s ease-in-out;

    /* text */
    text-transform: capitalize;
}

section.user .container .main .sidebar .sidebar-item ul li:hover span:not(.material-symbols-outlined, .identifier) {
    /* translate */
    translate: 0 -100%;
    opacity: 0;
    scale: 1 0;
}

section.user .container .main .sidebar .sidebar-item.links ul {
    /* sizing */
    --size: 36.25px;

    /* spacing */
    margin: 0;
    padding: 0;

    /* list */
    list-style: none;

    /* grid */
    display: grid;
    grid-template-columns: repeat(auto-fit, var(--size));
    gap: var(--gap);
}

section.user .container .main .sidebar .sidebar-item.links ul li {
    /* position */
    position: relative;

    /* sizing */
    width: var(--size);
    height: var(--size);

    /* flex */
    display: flex;
    justify-content: left;
    align-items: center;
    gap: var(--gap);

    /* cursor */
    cursor: help;
}

section.user .container .main .sidebar .sidebar-item.links ul li a {
    /* sizing */
    width: var(--size);
    height: var(--size);
    flex-shrink: 0;

    /* flex */
    display: flex;
    justify-content: center;
    align-items: center;

    /* styling */
    border-radius: 4px;
    color: var(--foreground-color-100);
}

section.user .container .main .sidebar .sidebar-item.links ul li:hover a {
    /* styling */
    background-color: var(--background-color-300);
}

section.user .container .main .sidebar .sidebar-item.links ul li a:focus,
section.user .container .main .sidebar .sidebar-item.links ul li a:focus-visible {
    /* styling */
    outline: 2px solid currentColor;
}

section.user .container .main .sidebar .sidebar-item.links ul li a:active {
    /* styling */
    color: var(--form-color-selector);
}

section.user .container .main .sidebar .sidebar-item.trees {
    /* flex */
    display: flex;
    flex-direction: column;
    gap: calc(var(--gap) / 2);
}

section.user .container .main .sidebar .sidebar-item.trees a {
    /* text */
    text-decoration: none;
    font-weight: 600;

    /* styling */
    color: currentColor;
}

section.user .container .main .sidebar .sidebar-item.trees a:hover {
    /* text */
    text-decoration: underline;
}

section.user .container .main .sidebar .sidebar-item .avatarPreview {
    /* sizing */
    width: 100%;
    aspect-ratio: 1/1;

    /* stling */
    border-radius: 50%;
}

section.user .container .main .sidebar .sidebar-item.controls {
    /* sizing */
    --column-width: 330px;
    --gap: 10px;

    /* grid */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

section.user .container .main .sidebar .sidebar-item.controls a,
section.user .container .main .sidebar .sidebar-item.controls button {
    /* sizing */
    height: 36.25px;

    /* flex */
    display: flex;
    justify-content: center;
    align-items: center;

    /* styling */
    border: none;
    border-radius: 4px;
    background-color: var(--background-color-300);
    color: var(--foreground-color-300);

    /* text */
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;

    /* cursor */
    cursor: pointer;
}

section.user .container .main .sidebar .sidebar-item.controls a {
    /* styling */
    background-color: var(--form-color-invalid-hold-opac);
    color: var(--foreground-color-300);
    border: 2px solid var(--form-color-invalid-hold);
}

section.user .container .main .sidebar .sidebar-item.controls a:hover,
section.user .container .main .sidebar .sidebar-item.controls a:focus,
section.user .container .main .sidebar .sidebar-item.controls a:focus-visible {
    /* styling */
    background-color: var(--form-color-invalid-hold);
}

section.user .container .main .sidebar .sidebar-item.controls a:active,
section.user .container .main .sidebar .sidebar-item.controls button:active {
    /* styling */
    background-color: transparent !important;
    color: var(--foreground-color-300);
    border: 2px solid currentColor;
    outline: none !important;
}

section.user .container .main .sidebar .sidebar-item.controls button {
    /* styling */
    background-color: var(--form-color-invalid-opac);
    color: var(--foreground-color-300);
    border: 2px solid var(--form-color-invalid);
}

section.user .container .main .sidebar .sidebar-item.controls button:hover,
section.user .container .main .sidebar .sidebar-item.controls button:focus,
section.user .container .main .sidebar .sidebar-item.controls button:focus-visible {
    /* styling */
    background-color: var(--form-color-invalid);
}

section.user .container .main .sidebar .sidebar-item.controls a:focus,
section.user .container .main .sidebar .sidebar-item.controls a:focus-visible,
section.user .container .main .sidebar .sidebar-item.controls button:focus,
section.user .container .main .sidebar .sidebar-item.controls button:focus-visible {
    /* styling */
    outline: 2px solid currentColor;
    outline-offset: 2px;
}

section.user .container .main .sidebar .sidebar-item .content {
    /* sizing */
    width: 100%;
}

section.user .container .main .sidebar .sidebar-item form:not(.type-2),
section.user .container .main .sidebar .sidebar-item .content-2 {
    /* sizing */
    width: 100%;

    /* flex */
    display: flex;
    gap: 10px;
}

section.user .container .main .sidebar .sidebar-item form input,
section.user .container .main .sidebar .sidebar-item .content-2 input {
    /* sizing */
    width: 100%;
}

section.user .container .main .sidebar .sidebar-item form button,
section.user .container .main .sidebar .sidebar-item .content-2 button {
    /* sizing */
    width: 75px;
    flex-shrink: 0;
}

section.user .container .main .sidebar .sidebar-item form.type-2 {
    /* sizing */
    width: 100%;

    /* flex */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

section.user .container .main .sidebar .sidebar-item form.type-2 button {
    /* sizing */
    width: 100%;
}

/*** mainbar ***/
section.user .container .main .mainbar {
    /* sizing */
    width: 100%;
    max-width: calc(100% - 350px - var(--gap));
    min-width: min(500px, 100%);
}

/*** smaller screens ***/
@media (max-width: 771px) {

    section.user .container .main .mainbar,
    section.user .container .main .sidebar {
        width: 100%;
        max-width: 100%;
    }
}

/**** tooltip ****/
span.tooltip {
    /* position */
    position: fixed;
    z-index: 999;

    /* sizing */
    padding: 10px;
    padding-right: 5px;

    /* styling */
    color: var(--foreground-color-200);
    background-color: var(--background-color-200);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    /* text */
    font-weight: 600;
    font-size: 16px;
}